/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body {
    padding-top: 60px
}

.sticky-top {
    top: 50px;
}

.dropdown-toggle {
    cursor: pointer;
}

.card { 
    margin-bottom: 30px;
}
  
.card-footer {
    padding: 0;
}

.card-footer button {
    cursor: pointer;
}